.table{
    width: 80%;
    @include margin-top-bottom;
    border: 1px solid $color-black;
    color: $color-black;
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: 0;
    .head{
        @include background-font($color-gray-dark,bold);
    }
    .col{
        padding: $size-margin-padding;
        border: 1px solid $color-black;
    }
    tbody{
        tr{
            td{
                &.col{
                    vertical-align: middle;
                }
            }
        }
    }
}
